
@media (min-width: 768px) {

    #hero-image img {
        height: 210px;
    }
    
    section {
        padding: 40px;
    }
    
    section h2 {
        margin-bottom: 17px;
    }

    section:nth-child(even) {
        padding: 22px 40px 35px 40px;
        background-color: rgb(194, 211, 250);
      }
}

@media (min-width: 1024px) {
    
    #hero-image img {
        height: 240px;
    }

    section {
        padding: 40px 100px 40px 100px;
        line-height: 1.6;
    }

    section h2 {
        margin-bottom: 17px;
    }

    section:nth-child(even) {
        padding: 22px 100px 35px 100px;
        background-color: rgb(194, 211, 250);
      }
}

@media (min-width: 1200px) {
    section {
        padding: 70px 300px 70px 300px;
        /* height: 500px; */
    }

    section p {
        max-width: 910px;
    }

    section h2 {
        margin-bottom: 17px;
    }

    section:nth-child(odd) {
        height: 400px;
    }

    section:nth-child(even) {
        padding: 30px 300px 70px 300px;
      }
}

@media (min-width: 1600px) {
    section p {
        font-size: 1.1rem;
    }
}