
@media (min-width: 768px) {

    #hero-image img {
        height: 210px;
    }
    
    section {
        padding: 40px;
    }
    
    section h2 {
        margin-bottom: 17px;
    }

    section:nth-child(even) {
        padding: 22px 40px 35px 40px;
        background-color: rgb(194, 211, 250);
      }
}

@media (min-width: 1024px) {
    
    #hero-image img {
        height: 240px;
    }

    section {
        padding: 40px 100px 40px 100px;
        line-height: 1.6;
    }

    section h2 {
        margin-bottom: 17px;
    }

    section:nth-child(even) {
        padding: 22px 100px 35px 100px;
        background-color: rgb(194, 211, 250);
      }
}

@media (min-width: 1200px) {
    section {
        padding: 70px 300px 70px 300px;
        /* height: 500px; */
    }

    section p {
        max-width: 910px;
    }

    section h2 {
        margin-bottom: 17px;
    }

    section:nth-child(odd) {
        height: 400px;
    }

    section:nth-child(even) {
        padding: 30px 300px 70px 300px;
      }
}

@media (min-width: 1600px) {
    section p {
        font-size: 1.1rem;
    }
}

/* Footer media queries*/

@media (min-width: 768px) {
    footer {
        padding: 0 25px 0 25px;
        font-size: 1rem;
      }
    
      #c-footer-section-heading {
        font-size: 1.7rem;
        margin-left: 16px;
        /* margin-bottom: 5rem; */
      }
    
      #google-maps-embed {
        height: 95px;
      }
      
      #c-footer-logo {
        width: 180px;
      }
    
      #footer-logo-and-social-accounts {
        /* background-color: aqua; */
        width: 80%;
        margin: 30px auto;
        justify-content: space-between;
      }
}

@media (min-width: 1024px) {
    #c-footer-section-heading {
        margin-left: 0;
      }
    
      address {
        justify-content: space-between;
      }
    
      #address-text {
        width: 45%;
      }
    
      #embedded_pages {
        display: flex;
        justify-content: space-between;
        width: 55%;
        max-width: 515px;
      }
    
      #facebook-page-embed {
        display: block;
        width: 65%;
      }
    
      #google-maps-embed {
        width: 30%;
        height: 130px;
      }
}

@media (min-width: 1200px) {

  /* Footer */

  address {
    justify-content: space-between;
    width: 90%;
    margin: auto;
  }

  #c-footer-section-heading {
    font-size: 2rem;
    margin-left: 70px;
  }

  #address-text {
    width: 45%;
  }

  #embedded_pages {
    display: flex;
    justify-content: space-between;
    width: 55%;
    max-width: 550px;
    /* background-color: coral; */
  }

  #facebook-page-embed {
    display: block;
    width: 60%;
  }

  #google-maps-embed {
    width: 38%;
    height: 130px;
  }

}