

@media (min-width: 768px) {

  #teams-section {
    margin-top: 3.2rem
  }
}


@media (min-width: 800px) {

    h1 {
        font-size: 4.5rem;
    }

    #teams-section {
      margin-top: 48px;
    }

    .team-member-profile {
        padding: 35px 15px 35px 15px;
        flex-direction: row;
        max-width: 100%;
        justify-content: space-evenly;
        align-items: start;
    }

    h2 {
        margin-top: 0;
    }

    .team-member-image-container {
        width: 30%;
        max-width: 300px;
    }

    .team-member-content {
        width: 60%;
    }

    .affiliate-trainers-container {
        max-width: 100%;
      }

    .affiliate-members-container ul li {
        width: 80%;
      }
}


@media (min-width: 1100px) {
  
  h1 {
    font-size: 3.8rem;
    margin-bottom: 100px;
    width: 400px;
  }

  .team-member-content {
    width: 67%;
  }

  .team-member-profile, .affiliate-trainers-container {
    max-width: 1200px;
  }

}

/* Footer media queries*/

@media (min-width: 768px) {
    footer {
        padding: 0 25px 0 25px;
        font-size: 1rem;
      }
    
      #c-footer-section-heading {
        font-size: 1.7rem;
        margin-left: 16px;
        /* margin-bottom: 5rem; */
      }
    
      #google-maps-embed {
        height: 95px;
      }
      
      #c-footer-logo {
        width: 180px;
      }
    
      #footer-logo-and-social-accounts {
        /* background-color: aqua; */
        width: 80%;
        margin: 30px auto;
        justify-content: space-between;
      }
}

@media (min-width: 1024px) {
    #c-footer-section-heading {
        margin-left: 0;
      }
    
      address {
        justify-content: space-between;
      }
    
      #address-text {
        width: 45%;
      }
    
      #embedded_pages {
        display: flex;
        justify-content: space-between;
        width: 55%;
        max-width: 515px;
      }
    
      #facebook-page-embed {
        display: block;
        width: 65%;
      }
    
      #google-maps-embed {
        width: 30%;
        height: 130px;
      }
}

@media (min-width: 1200px) {

  /* Footer */

  address {
    justify-content: space-between;
    width: 90%;
    margin: auto;
  }

  #c-footer-section-heading {
    font-size: 2rem;
    margin-left: 70px;
  }

  #address-text {
    width: 45%;
  }

  #embedded_pages {
    display: flex;
    justify-content: space-between;
    width: 55%;
    max-width: 550px;
    /* background-color: coral; */
  }

  #facebook-page-embed {
    display: block;
    width: 60%;
  }

  #google-maps-embed {
    width: 38%;
    height: 130px;
  }

}