@media (min-width: 768px) {

    #c-first-section-content {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
      }
      
      #c-first-section-paragraphs {
        width: 50%;
      }

      #c-first-section-image-container {
        width: 40%;
      }

      #c-first-section-image-container img {
        height: 470px;
      }

    
    /* second section team */
    #team-members-container {
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items:flex-start;
        gap: 0px;
        column-gap: 40px;
        row-gap: 40px;
    }

    .team-member-profile {
        max-width: 380px;
    }
}