* {
  box-sizing: border-box;
}

header li {
  text-decoration-color: rgb(243, 123, 123);
  transition: text-decoration 0.3s, text-decoration-color 0.3s,
    text-decoration-thickness 0.3s, text-underline-offset 0.3s;
}

header li:hover {
  /* border-bottom: 3px solid orange; */
  text-decoration: underline;
  text-decoration-color: rgb(220, 66, 66);
  text-decoration-thickness: 4px;
  text-underline-offset: 5px;
}

body {
  font-family: roboto;
  font-size: 1rem;
  margin: 0 auto 0 auto;
  max-width: 2000px;
  min-width: 320px;
  background-color: rgb(240, 240, 240);
  color: rgb(69, 69, 69);
}

main {
  margin: 0rem auto 3rem auto;
  padding-bottom: 2rem;
}

#hero-image-container {
  width: 100%;
  max-width: 1400px;
  margin: auto;
}

#hero-image-container img {
  height: 180px;
  object-fit: cover;
  object-position: 0 -14px;
  margin: auto;
  /* background-color: aquamarine; */
}

h1,
h4 {
  text-align: center;
}

#page-title {
  margin-top: 20px;
  text-decoration: underline;
  text-decoration-color: rgb(243, 123, 123);
  text-decoration-thickness: 3px;
  text-underline-offset: 5px;
}

#student-services-content-container {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#student-services-content-container a {
  display: block;
  margin: 0rem 0 1rem 0.3rem;
  font-weight: 550;
  font-size: 1.2rem;
  color: rgb(86, 80, 80);
  text-decoration: none;
  border-bottom: 3px solid rgb(250, 182, 182);
  transition: border-bottom, font-size 0.4s;
}

#student-services-content-container a:hover {
  border-bottom: 4px solid rgb(255, 106, 106);
  font-size: 1.4rem;
}

/* links added later */
.service-content-container a {
  text-decoration: none;
  transition: text-decoration, 0.2s;
}

.service-content-container a:hover {
  text-decoration: underline;
}
/* links END */

#student-services-section,
#counterpoint-threesixty-club,
#school-debate-club,
#enrichment-camp,
#counterpoint-boot-camp,
#wsc-training {
  margin: 2.1rem auto 2rem auto;
  width: 90%;
  padding: 25px 15px;
  max-width: 650px;
  /* background-color: rgb(229, 249, 254); */
  border-radius: 20px;
  box-shadow: 0 0px 20px rgb(217, 219, 219);
}

#intro-para {
  font-weight: 600;
  font-style: italic;
}

#wsc-training ul {
  margin-top: 1.2rem;
  padding-left: 21px;
}

#wsc-training ul li {
  margin-top: 0.3rem;
  padding-left: 0px;
}

h4,
h6 {
  text-decoration-color: rgb(248, 118, 118);
  text-decoration-line: underline;
  text-decoration-thickness: 4px;
  text-underline-offset: 7px;
}

h6 {
  margin-top: 25px;
  font-size: 1.1rem;
  text-decoration-color: rgb(255, 106, 106);
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
}

.section-image-container {
  width: 95%;
  margin: 1.2rem auto 1rem auto;
}

.section-images {
  width: 100%;
  border-radius: 12px;
}

/* FOOTER */

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 20px auto 0 auto;
  padding: 0 15px 0 15px;
  background-color: rgb(4, 53, 122);
  color: rgb(208, 236, 246);
  border-radius: 15px 15px 0 0;
  font-size: 0.85rem;
  /* font-size: 1rem; */
}

#c-footer-section-heading {
  margin: 16px 0 25px 0;
  font-size: 1.5rem;
  text-decoration-line: underline;
  text-decoration-thickness: 4px;
  text-underline-offset: 7px;
}

address {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* background-color: green; */
}

#address-text {
  width: 69%;
}

#address-content,
#mail-address {
  margin-bottom: 10px;
}

#embedded_pages {
  width: 25%;
}

#facebook-page-embed {
  display: none;
  width: 100%;
  border-radius: 7px;
  height: auto;
}

#google-maps-embed {
  width: 100%;
  border-radius: 7px;
  height: 80px;
}

#footer-logo-and-social-accounts {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#c-social-accounts-logo-links {
  /* background-color: rgb(197, 24, 24); */
  width: 93px;
}

.c-footer-social-links-anchor {
  color: rgb(208, 236, 246);
}

#facebook-logo,
#instagram-logo {
  width: 40px;
  transition: width 0.3s;
}

#facebook-logo:hover,
#instagram-logo:hover {
  width: 50px;
}

#c-footer-logo {
  width: 120px;
}

#c-copyright {
  font-size: 0.8rem;
  text-align: center;
  margin-bottom: 12px;
  /* background-color: aqua; */
}

/* REDUCE MOTION ENBABLED BY THE USER */

/* Position and style the notice banner */
.motionless__banner {
  display: none; /* hides the banner when animations are enabled */
  margin-bottom: 1rem;
  width: 100%;
  padding: 0.5rem 1rem;
  text-align: center;
  background: #333;
  color: #fff;
  border-top: 2px solid #ff5722;
}

/* Show the banner if the user disables animations in the OS level */
@media (print), (prefers-reduced-motion: reduce) {
  .motionless__banner {
    display: block;
  }
}
