* {
  box-sizing: border-box;
  font-family: sans-serif;
  font-family: roboto;
}

body {
  margin: 0;
}

/* --------HEADER------------- */

header {
  max-width: 1800px;
  min-width: 320px;
  margin: auto;
}

#header-logo {
  width: 80%;
}

#navbar-desktop {
  display: none;
}

/* -------------MAIN START---------------- */

main {
  max-width: 1800px;
  min-width: 320px;
  margin: auto;
}

#first-section-logo-button {
  display: flex;
  flex-direction: column;
  align-items: center; /* (horizontal) for flex items */
  justify-content: center; /* (vertical) for flex items */
  margin: auto; /* center alignment for section*/
  /* height: 55vh; */
  height: 400px;
  /* max-height: 400px;
  min-height: 400px; */
  background-image: url(../images/contact-breadcum.jpg);
  background-size: cover;
  background-repeat: repeat;
  /* background-color: #ebeb2b; */
}

#first-section-logo-container {
  width: 90%;
  max-width: 500px; /*Limiting size in bigger screens*/
  /* background-color: rgb(241, 100, 34); */
}

#first-section-logo-img {
  width: 100%;
}

#first-section-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  margin-top: 20px;
  width: 77%;
  max-width: 425px;
  /* height: 40%; */
  height: 185px;
  /* max-height: 142px; */
  /* background-color: rgb(241, 100, 34); */
}

.first-section-button-links-container {
  /*button-wrapper*/
  /* background-color: rgb(176, 20, 238); */
  margin-top: 2px;
  width: 100%;
  height: 100%;
  position: relative;
}

.first-section-first-button, 
.first-section-second-button {  /* This class is common to both button styling*/
  width: 100%;
  height: 100%;
  border-radius: 17px;
  font-size: 1.8rem;
  opacity: 0.89;
  font-weight: 405;
}

.first-section-first-button {
  box-shadow: inset 0 -6px rgb(245, 27, 49);
  border: 1px solid rgb(245, 27, 49);
}

.first-section-first-button:active {
  /*avoiding hover beacause of mobile layout*/
  position: absolute;
  top: 9px;
  opacity: 1;
  transition: 0.1s;
  color: white;
  box-shadow: inset 0 -8px rgb(245, 27, 49);
  background-color: rgb(254, 32, 32);
}

.first-section-second-button {
  box-shadow: inset 0 -6px 0px rgb(4, 53, 122);
  border: 1px solid rgb(4, 53, 122);
}

.first-section-second-button:active {
  /*avoiding hover beacause of mobile layout*/
  position: absolute;
  top: 9px;
  opacity: 1;
  transition: 0.1s;
  color: white;
  box-shadow: inset 0 -8px rgb(4, 53, 122);
  background-color: rgb(4, 53, 122);
}




#second-section-who-we-are {
  margin: 20px auto;
  padding-top: 17px;
  width: 85%;
  display: flex;
  flex-direction: column;
  /* background-color: green; */
}

#second-section-who-we-are h1 {
  margin-bottom: 11px;
}

#second-section-content p:first-child::first-letter {
  font-size: 2.9rem;
  color: rgb(255, 3, 3);
  font-weight: 500;
}

#second-section-image {
  margin-top: 30px;
  border-radius: 8px;
  width: 100%;
  border: 1px inset black;
}




#third-section-our-partner-schools {
  margin: 40px auto;
  width: 85%;
  text-align: center;
  /* background-color: black; */
}

#carousel {
  /* background-color: bisque; */
  width: 90%;
  margin-left: 20px;
}

/* bootstrap carousel */

.carousel-item-image {
  width: 44%;
  border: 1px solid black;
  border-radius: 3px;
  margin: 0 15px 15px 0;
}

#fourth-section-team-members {
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: aqua; */
}

#team-members-container {
  width: 100%;
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  /* background-color: aquamarine; */
}

.team-member-profile {
  box-sizing: content-box;
  width: 85%;
  background-color: rgb(244, 243, 243);
  border-radius: 15px;
  text-align: center;
  padding: 15px 0 15px 0;
}

.team-member-image {
  border: 1px dotted rgb(168, 168, 168);
  border-radius: 50%;
}

.team-member-role {
  font-size: 1.1rem;
  font-weight: 550;
}

.team-member-name {
  font-size: 1.5rem;
}

/* screen wider than 767px (tablet) */
@media (min-width: 768px) {
  /*----------First-section-button-container--------*/

  #first-section-logo-button {
    height: 30vh;
    min-height: 307px;
    max-height: 320px;
  }

  #first-section-button-container {
    margin-top: 13px;
    flex-direction: row;
    width: 60%;
    max-width: 480px;
    height: 75px;
    /* background-color: black; */
  }

  .first-section-button-links-container {
    margin-right: 5px;
  }

  .first-section-first-button,
  .first-section-second-button {
    height: 100%;
    font-size: 1.5rem;
    font-weight: 405;
  }

  .first-section-first-button:hover {
    opacity: 1;
    border: 2px solid rgb(245, 27, 49);
    font-size: 1.49rem;
  }

  .first-section-second-button:hover {
    opacity: 1;
    border: 2px solid rgb(4, 53, 122);
    font-size: 1.49rem; 
  }

  /* ------Second-section-who-are-we?---------- */

  #second-section-who-we-are {
    width: 90%;
  }

  #second-section-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgb(124, 31, 201); */
  }

  #paragraphs {
    width: 54%;
    text-align: justify;
    line-height: 1.25;
    /* background-color: aqua; */
  }

  #second-section-image-container {
    width: 42%;
  }

  #second-section-image {
    margin-top: 0;
  }

  /* ------Third-section-partner-schools---------- */

  #third-section-our-partner-schools {
    margin-top: 100px;
  }

  #carousel {
    /* background-color: bisque; */
    width: 90%;
    padding-left: 50px;
    margin: auto;
  }

  /* ---------Fourth-section-our-team---------- */

  #fourth-section-team-members {
    margin-top: 100px;
  }

  #team-members-container {
    width: 85%;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    /* background-color: aquamarine; */
  }

  .team-member-profile {
    width: 47%;
  }
}

/*----------Laptop screen 1024px------*/

@media (min-width: 1024px) {
  /* ---------header / navbar */

  #navbar-mobile-tablet {
    display: none;
  }

  #navbar-desktop {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: 80%;
    height: 80px;
  }

  #nav-links {
    width: 35%;
    max-width: 300px;
    display: flex;
    justify-content: space-between;
  }

  #nav-links a {
    text-decoration: none;
    color: black;
  }

  /* ------first-section------- */

  #first-section-logo-button {
    width: 95%;
    height: 75vh;
    max-height: 600px;
    border-radius: 20px;
  }

  #first-section-logo-container {
    height: 150px;
  }

  .first-section-first-button {

  }

  .first-section-second-button {

  }

  /* ----Second section----- */

  #second-section-who-we-are {
    margin-top: 30px;
    align-items: center;
  }

  #second-section-content {
    display: flex;
    justify-content: center;
    gap: 25px;
    text-align: justify;
    max-width: 1040px;
  }

  #paragraphs {
    width: 65%;
    padding: 10px;
  }

  #second-section-image-container {
    flex: 1;
    max-width: 430px;
  }

  #second-section-image {
    border-radius: 15px;
    margin: 14px;
  }

  /*---------third-section-------- */

  #carousel {
    width: 100%;
    margin: 0;
    /* background-color: aquamarine; */
  }

  /* bootstrap carousel */

  .carousel-item-image {
    width: 20%;
    border: 1px solid black;
    border-radius: 10px;
    margin: 0 15px 15px 0;
  }
}
